/*
*	Balises standards
*/
html, body {
	width: 			        100%;
	height: 		        100%;
	color:				    black;
	text-align:				left;
	background:				#F1F1F1;
}
html, body, input, label, select {
	font-size:				14px;
	font-family:			"OpenSans";
	font-weight:			200;
}

#container {
	margin:					30px;
}
h1 {
	text-align:				center;
}
h1.centered {
	height:					calc(100vh - 2*30px);
}
h1.centered>img {
	position: 				relative;
	top: 					50%;
	transform: 				translateY(-50%);
}

h2 {
	font-size:				25px;
	font-family: 			"revilo san";
	font-weight:			400;
	margin:					50px 0px 5px 0px;
}
.noTopMargin {
	margin-top:				5px;
}
p {
	margin:					10px 0 10px 0;
}

.button {
	background:				#F93143;
	color:					white;
	text-transform:			uppercase;
	font-weight:			400;
	padding:				5px 10px 5px 10px;
	display:				inline-block;
	border-radius:			5px;
	border:					1px solid transparent;
	margin-top:				5px;
	cursor:					pointer;
}
.button:hover {
	color:					white;
	background:				#246DAC;
}

#canvas, #canvasWaiting {
	font-style:				italic;
	display:				inline-block;
}
#canvas {
	box-shadow: 			0px 0px 10px 2px rgba(0,0,0,0.3);
	background:				white;
	display:				none;
}
#canvas.image {
	box-shadow: 			0px 0px 10px 2px rgba(0,0,0,0.3);
	background:				url("../img/blueprint.jpg") no-repeat center center / cover;
	padding:				20px;
}
#canvas .module {
	position:				relative;
	display:				inline-block;
	margin:					0px 5px 5px 0px;
	background-repeat:		no-repeat no-repeat;
	background-position:	top left;
}
#canvas .module>* {
	position:				absolute;
	top:					0;
	left:					0;
}
#canvas.image .module .panel {
	mix-blend-mode:			multiply;
}

.partlist {
	display:				inline-block;
	padding:				0px 30px 10px 7px;
}
.partlist .left, .partlist .right {
	display:				inline-block;
	vertical-align:			bottom;
	line-height:			120%;
}
.partlist .left {
	padding-right:			5px;
}

.partlist .price:first-child {
	margin-left:			10px;
}
.partlist .price, h2 .price {
	font-size:				12px;
}


#pulses {
	position:				absolute;
	top:					10px;
	left:					10px;
}
#pulses>div {
	display:				inline-block;
}
#pulse {
	width:					8px;
	height:					8px;
	border-radius:			8px;
	background:				#CCCCCC;
	border:					1px solid #EEEEEE;
}
#pulse.green.light {
	background:				#9ED54E;
}
#pulse.red.light {
	background:				#FC3232;
}

input[type=checkbox] {
	margin-left:			0px;
}
#legend {
	margin:					10px 0 15px 0;
}
.legend {
	display:				inline-block;
	margin-right:			25px;
}
.legend>div {
	display:				inline-block;
}
.legend .color {
	border:					1px solid rgba(0,0,0,0.2);
	background:				blue;
	border-radius:			10px;
	width:					10px;
	height:					10px;
	margin-right:			8px;
	vertical-align:			-1px;
}





@media print {
	.dontPrint {
		display:			none;
	}
	#canvas {
		box-shadow: 		0px 0px 0px 0px white;
		/*height:				5cm;*/
	}
}