/*
*	Balises standards
*/
html, body {
	width: 			        100%;
	height: 		        100%;
	color:				    black;
	text-align:				left;
	background:				#F1F1F1;
}
html, body, input, label, select {
	font-size:				14px;
	font-family:			"OpenSans";
	font-weight:			200;
}

#container {
	margin:					30px;
}
h1 {
	text-align:				center;
}
h1.centered {
	height:					calc(100vh - 2*30px);
}
h1.centered>img {
	position: 				relative;
	top: 					50%;
	transform: 				translateY(-50%);
}

h2 {
	font-size:				25px;
	font-family: 			"revilo san";
	font-weight:			400;
	margin:					50px 0px 5px 0px;
}
.noTopMargin {
	margin-top:				5px;
}
.doPrint {
	display:				none;
}
p {
	margin:					10px 0 10px 0;
}

.button {
	background:				#F93143;
	color:					white;
	text-transform:			uppercase;
	font-weight:			400;
	padding:				5px 10px 5px 10px;
	display:				inline-block;
	border-radius:			5px;
	border:					1px solid transparent;
	margin-top:				5px;
	cursor:					pointer;
}
.button:hover {
	color:					white;
	background:				#246DAC;
}

#navigatorWarning {
	height:					4vh;
	background:				#F2911B;
	color:					white;
	line-height:			4vh;
	text-align:				center;
}
body.chrome #navigatorWarning {
	display:				none;
}
#modules, #modulesWaiting {
	font-style:				italic;
	display:				inline-block;
}
#modules, #panels .bunch {
	box-shadow: 			0px 0px 10px 2px rgba(0,0,0,0.3);
}
#modules {
	background:				white;
	display:				none;
	background:				url("../img/blueprint.jpg") no-repeat center center / cover;
}
.module {
	display:				inline-block;
	background-repeat:		no-repeat no-repeat;
	background-position:	top left;
	break-inside: 			avoid;
}
#modules .module {
	border:					1px solid transparent;
	position:				relative;
}
#modules .module>* {
	position:				absolute;
}
#modules *.module .panel {
	mix-blend-mode:			multiply;
}
#panels {
	width:					100%;
	overflow-x: 			scroll;
	overflow-y: 			hidden;
	padding:				10px;
}
#panels .bunch {
	background:				url("../img/wood.jpg") repeat top left;
	overflow:				hidden;
}
#panels .ruler {
	position:				relative;
	height:					20px;
	border-top:				1px solid #888888;
	overflow:				hidden;
	color:					#888888;
}
#panels .ruler .tip {
	position:				absolute;
	border-left:			1px solid #888888;
	padding-left:			4px;
	font-size:				12px;
}
#panels .bunch .rotation {
	mix-blend-mode:			multiply;
	transform-origin: 		top left;	
}
#panels .module .panel {
	border:					1px solid rgba(0,0,0,0.4);
}

.partlist {
	display:				inline-block;
	padding:				0px 30px 10px 7px;
}
.partlist .left, .partlist .right {
	display:				inline-block;
	vertical-align:			bottom;
	line-height:			120%;
}
.partlist .left {
	padding-right:			5px;
}

.partlist .price:first-child {
	margin-left:			10px;
}
.partlist .price, h2 .price {
	font-size:				12px;
	color:					#888888;
}


#pulses {
	position:				absolute;
	top:					10px;
	left:					10px;
}
#pulses>div {
	display:				inline-block;
}
#pulse {
	width:					8px;
	height:					8px;
	border-radius:			8px;
	background:				#CCCCCC;
	border:					1px solid #EEEEEE;
}
#pulse.green.light {
	background:				#9ED54E;
}
#pulse.red.light {
	background:				#FC3232;
}

input[type=checkbox] {
	margin-left:			0px;
}
#legend {
	margin:					10px 0 15px 0;
}
.legend {
	display:				inline-block;
	margin-right:			25px;
}
.legend>div {
	display:				inline-block;
}
.legend .color {
	border:					1px solid rgba(0,0,0,0.2);
	background:				blue;
	border-radius:			10px;
	width:					10px;
	height:					10px;
	margin-right:			8px;
	vertical-align:			-1px;
}



@media print {
	html, body {
		background:			white;
	}
	.dontPrint {
		display:			none;
	}
	.doPrint {
		display:			block;
	}
	.printmargins {
		padding:			30px;
		font-size:			smaller;
	}
	#container {
		margin:				0px;
	}
	#modules, #panels .bunch {
		box-shadow: 		inherit;
		background:			white;
	}
	.module .panel {
		mix-blend-mode:		inherit;
	}
}